@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}
.slider {
  display: block;
  width: 100%;
  height: 58px;
  overflow-x: scroll;
  background-color: #333333;
  position: absolute;
  bottom: 0;
  left: 0;
}
.slider-container {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  margin-top: 7px;
}
.slider-Item {
  /* width: 100%;
  height: 80%;
  margin-right: 8px;
  text-align: center;
  background-color: #333;
  display: grid;
  align-items: center;
  border-radius: 3px;
  transition: 0.2s ease;
  cursor: pointer; */
  display: inline-block;
  margin-right: 10px;
  /* background-color: #434343; */
  height: 45px;
  /* width: 20%; */
  border-radius: 2px;
}

.alignItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 5px 14px;
  color: #fff;
}

.slider-img:hover {
  background-color: rgb(31, 28, 28);
}
.slider::-webkit-scrollbar {
  display: none;
}

/* Font Properties */
#font-slider-properties {
  bottom: 58px;
  background-color: #383838;
}

/* #font-slider-properties::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: cadetblue;
  transform: rotate(45deg);
  bottom: -6%;
  left: 29%;
} */

/* Font Family */

/* #fontFamily-properties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 7px solid seagreen;
} */

/* #fontFamily-properties::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: seagreen;
  transform: rotate(45deg);
  bottom: -4%;
  left: 29%;
} */

#fontFamily-properties::-webkit-scrollbar {
  width: 0;
  display: none;
  /* height: 0; */
}

/* Font Names */
#fontFamily-properties p {
  min-width: fit-content;
  height: 100%;
  text-align: center;
  color: #fff;
  padding: 10px 5px;
  margin: 0 5px;
  cursor: pointer;
}

#fontFamily-properties p:hover {
  background-color: seagreen;
}

/* Font Size */
.popupContainer {
  position: absolute;
  bottom: 116px;
  height: 50px;
  width: 100%;
  box-shadow: 0 0 5px 0 #444;
  background-color: #333;
  color: #fff;
  display: flex;
}

.popupContainer img {
  width: 55px;
  height: 55px;
}

#fontSizeController .range {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 65px 0 45px;
}

.range .field .value {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: var(--fontSizeRange);
}

input[type="range"] {
  -webkit-appearance: none;
  outline: none;
  border: none;
  width: 200px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #ff8063, #f46060);
  box-shadow: -2px 2px 13px #fb161670;
  cursor: pointer;
  position: relative;
  top: -9px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  width: 100%;
  border-radius: 5px;
  background-image: linear-gradient(45deg, #ff8063, #f46060);
}
.range .field .value.left {
  left: -22px;
}

.range .field .value.right {
  right: -43px;
}
.range .field input {
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}

.field {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Font Color Chooser */

/* Input Text ido_main Stylings */

/* Color Picker Slider  */
#colorPickerSlider {
  bottom: 116px;
}

.colorBox {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 3px;
}

/* 

  Styling for The Text area
  When User want to place any text
  He have to click "Text=>Text" Menu
  
  ido       = Input Dialog Overlay
  ido_main  = Main Container of Dialog Overlay
  ido_text  = text area of Dialog
  ido_close = close Button of the overlay

*/
/* ido_main Id Contains the Whole area for writing Text */
#ido_main {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #00000073;
  box-shadow: 0 0 10px 0 #232323be;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  /* padding: 1rem 1.2rem; */
  grid-template-rows: 1fr 2fr 1fr;
}

.btnBottom {
  width: 100%;
  text-align-last: right;
}

#ido_main a {
  border: none;
  padding: none;
  shadow: none;
  color: var(--Blue800);
  box-shadow: 0 0 0px 0 salmon;
}
#ido_main a:hover {
  background-color: var(--Blue800);
  color: #fff;
}

/* Formating Area => Top Bar Of The Editable Text Area  */

#formatingArea {
  background-color: #ffffffcf;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  height: 40px;
  position: relative;
  top: 0px;
  align-self: baseline;
}

/* Formating Icons => Bold Italic Underline */
#formatingArea img {
  margin: 5px;
  padding: 10px;
}

/* Input Text Area Under ido_main box */
#ido_Text {
  /* height: 100%; */
  width: 90%;
  outline: none;
  border: none;
  background-color: #ffffff00;
  padding: 0.5rem 0.2rem;
  border-radius: 0;
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  color: #fff;
}

/* Shadow Menu Styles */

.bottomMenu {
  display: flex;
  z-index: 1;
  gap: 10px;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.bottomMenu li {
  list-style: none;
  font-size: 12px;
}

.inputRange {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 10px auto;
}
#verticalDiv {
  padding-left: 20px;
}
