#templateChooserRoot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto; /*added*/
  background-color: #fff;
  padding: 10px;
  z-index: 4;
}
#templateChooserRoot h3 {
  padding: 0.9rem;
}

#templateChooserRoot .header {
  display: flex;
  align-items: center;
  padding-left: 14px;
}

#templateChooserRoot .header h2 {
  background-color: lightgray;
  border-radius: 100%;
  font-weight: 400;
  transform: rotate(45deg);
  width: 30px;
  text-align: center;
}

.templates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: start;
  gap: 10px;
  padding: 10px;
  overflow-y: scroll; /*added*/
}

.templates img {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 3px;
}
